<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  internalLogLevel="info"
  internalLogFile="C:\Logs\MyWebsite\nlog-internal.txt">
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="InfoFile"
            encoding="utf-8"
            fileName="${basedir}/Log/Info/${shortdate}.log"
            layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}">
    </target>
    <target xsi:type="File" name="ErrorFile"
            encoding="utf-8"
            fileName="${basedir}/Log/Error/${shortdate}.log"
            layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message} | ${exception}">
    </target>
  </targets>
  <rules>
    <!--Disable logging of specific overly talkative loggers-->
    <logger name="Microsoft*" finalMinLevel="Warn" />
    <logger name="Microsoft.Hosting.Lifetime" finalMinLevel="Warn" />
    <!--END Disable logging of specific overly talkative loggers-->
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="InfoFile" />
    <logger name="*" minlevel="Error" maxlevel="Error" writeTo="ErrorFile" />
  </rules>
</nlog>